
.Text-place-Box1 {
  position: absolute;
  top: 15%;
  left: 20%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


#H1 {
  color: black;
  font-size: 30px; 
}

#P{
  font-size: 15px; 
}



@media (max-width: 500px) {



}  

